.profiles-container {
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    border: 1px solid #E8EAEE;
    border-radius: 15px;
  }
  
  .search-filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 8px;
    margin-bottom: 30px;
    white-space: nowrap;

    .action-button-primary {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 9999px;
      font-size: 13px;
      font-weight: 600;
      transition: all 0.2s ease;
      background-color: #15142b;
      color: #ffffff;
      text-decoration: none;

      svg {
        margin-right: 0.5rem;
      }
    }
  
    .search-wrapper {
      width: 500px;
      height: 44px;
      display: flex;
      align-items: center;
      background-color: #f1f3f4;
      border-radius: 30px;
      padding: 10px 20px;
      margin-right: auto;
  
      .search-icon {
        color: #000000;
        margin-right: 12px;
      }
  
      .search-input {
        background-color: transparent;
        border: none;
        font-size: 16px;
        width: 100%;
        outline: none;
  
        &::placeholder {
          color: #000000;
        }
      }
    }
  
    .filters-wrapper {
      display: flex;
      gap: 8px;
      justify-content: flex-end; 

    
      .filter-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f1f3f4;
        height: 44px;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 14px;
        color: #5f6368;
        cursor: pointer;
        transition: background-color 0.2s;
        min-width: 100px;
        justify-content: space-between;
    
        &:hover {
          background-color: #e8eaed;
        }
    
        .icon{
          margin-right: 6px;
          color: #000000;
        }
    
        span {
          margin-right: 8px;
          color: #000000;
        }
    
        .chevron-down {
          color: #000000;
        }
    
        select {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
  
  .profiles-wrapper {
    display: grid;
    gap: 30px;
    // grid-template-columns: 450px 450px 450px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  
  @media (max-width: 768px) {
    .search-filter-bar {
      flex-direction: column;
      align-items: stretch;
    }
  
    .search-wrapper {
      margin-right: 0;
      margin-bottom: 12px;
    }
  
    .filters-wrapper {
      flex-wrap: wrap;
    }
  
    .filter-dropdown {
      flex: 1 0 calc(50% - 4px);
    }
  }