.content-card {
  min-width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8EAEE;
  overflow: hidden;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    background-color: #ffffff;
    // padding: 5px;
  }

  &__profile {
    display: flex;
    gap: 5px;
    align-items: center;

    p{
      color: #949494;
    }
  }

  &__profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  &__content {
    // padding: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
  }

  &__type {
    font-size: 14px;
    font-weight: 500;
    color: #999;
  }

  &__footer {
    // padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #E8EAEE;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;

    .icon{
      width: 16px;
      height: 16px;
    }

  }

  &__register-button{
    background-color: #f1f3f4;
    color: #000000;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;

    .icon{
      width: 16px;
      height: 16px;
    }
  }
}