.profile-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .form-container {
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    border-right: 1px solid #E8EAEE;
    
    .banner{
      width: 450px;
      position: relative;
      background-color: #131313;
      border-radius: 1.5rem 0 0 1.5rem;
      overflow: hidden;
      object-fit: fill;
  
      img{
        height: 100%;
        width: 100%;
      }
  
  
      .overlay{
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,117,1) 0%, rgba(87,5,176,1) 44%, rgba(59,2,225,1) 58%, rgba(34,1,130,1) 78%, rgba(0,0,0,0.7791491596638656) 95%);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        opacity: 0.5;
        display: none;
      }
  
      .tkm{
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
  
        img{
          height: 40px;
          width: auto;
        }
        .tkm_title{
          color: #ffffff;
          font-size: 16px;
          font-weight: 500;
        }
      }
  
      .title_wrapper{
        position: absolute;
        bottom: 30px;
        left: 30px;
  
        .title{
          font-size: 33px;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }

    .form-content {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 450px;

      .welome-text{
        h1 {
          font-size: 38px;
          font-weight: bold;
          margin-bottom: 10px;
        }
    
        p {
          color: #666;
          margin-bottom: 60px;
        }
      }

      .form-wrapper{
        form {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
  
          .form-group {
    
            label {
              display: block;
              font-size: 0.875rem;
              font-weight: 500;
              color: #375143;
              margin-bottom: 0.25rem;
            }
      
            .input-wrapper {
              position: relative;
      
              svg {
                position: absolute;
                left: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                color: #9ca3af
  ;
                width: 1.125rem;
                height: 1.125rem;
              }
      
              input, select {
                width: 100%;
                padding: 0.5rem 0.75rem 0.5rem 2.5rem;
                border: 1px solid #d1d5db;
                border-radius: 0.5rem;
                font-size: 1rem;
              }
            }
      
            .batch-select {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 0.5rem;
      
              .input-wrapper {
                width: 100%;
              }
      
              select {
                padding-right: 0.75rem;
              }
            }
          }
  
          .form-actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;
  
            .forgot-password {
              margin-left: auto;
              color: #000;
              text-decoration: none;
      
              &:hover {
                text-decoration: underline;
              }
            }
          }
  
          .sign-in-button {
            margin-top: 20px;
            width: 100%;
            padding: 8px;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 20px;
      
            &:hover {
              background-color: #333;
            }
      
            &:disabled {
              background-color: #ccc;
              cursor: not-allowed;
            }
          }
  
          .error-message {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: #ef4444;
            font-size: 0.875rem;
            margin-top: 0.5rem;
          }
        }
  
  
        .sign-up-link {
          text-align: center;
          font-size: 14px;
          margin-bottom: 0px;
    
          a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
    
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}