.login-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  border-radius: 60px;

  box-shadow: 0px 0px 29px 17px rgba(0,0,0,0.1);

  .banner{
    height: 650px;
    width: 400px;
    position: relative;
    background-color: #ff0000;
    border-radius: 50px;
    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
    }


    .overlay{
      background: rgb(2,0,36);
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(121, 9, 117) 0%, rgba(87,5,176,1) 44%, rgba(59,2,225,1) 58%, rgba(34,1,130,1) 78%, rgba(0,0,0,0.7791491596638656) 95%);
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      opacity: 0.5;
    }

    .tkm{
      position: absolute;
      top: 30px;
      left: 30px;
      display: flex;
      align-items: center;
      gap: 10px;

      img{
        height: 40px;
        width: auto;
      }
      .tkm_title{
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .title_wrapper{
      position: absolute;
      bottom: 30px;
      left: 30px;

      .title{
        font-size: 33px;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    width: 400px;
    padding-left: 70px;
    padding-right: 60px;



    .user-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
  
      .welcome-text{
        
        h1 {
          font-size: 38px;
          font-weight: bold;
          margin-bottom: 7px;
        }
    
        p {
          color: #666;
          // margin-bottom: 60px;
        }
      }
  
      .user-types {
        display: flex;
        flex-direction: column;
        gap: 10px;
      
        .user-type {
          display: flex;
          align-items: center;
          padding: 20px;
          width: 100%;
          background-color: #ffffff;
          border: 1px solid #790975;
          border-radius: 12px;
          transition: all 0.5s ease;
          cursor: pointer;
      
          &:hover {
            border: 1px solid #790975;
            transition: all 0.5s ease;
            transform: scale(1.1);
  
            .arrow-icon {
              animation: arrowPulse 1s ease-in-out infinite;
            }
          }
      
          .user-icon {
            width: 36px;
            height: auto;
            color: #790975;
            margin-right: 20px;
          }
      
          .user-content {
            flex-grow: 1;
      
            h2 {
              font-size: 23px;
              font-weight: 500;
              color: #333;
              margin: 0;
            }
          }
      
          .arrow-icon {
            font-size: 20px;
            color: #790975;
            transition: transform 0.3s ease;
          }
        }
      }
      .login-link {
        text-align: center;
        font-size: 14px;
  
        a {
          color: #000;
          text-decoration: none;
          font-weight: bold;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
  
    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 650px;
      width: 100%;
      // background-color: #ff0000;

  
      h1 {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      p {
        color: #666;
        margin-bottom: 30px;
      }
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: 600;
        }
  
        input {
          width: 100%;
          padding: 12px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          font-size: 14px;
          background-color: #f7f7f7;
  
          &:focus {
            outline: none;
            border-color: #000;
          }
  
          &.error {
            border-color: #ff0000;
          }
        }
  
        .password-input {
          position: relative;
  
          .toggle-password {
            position: absolute;
            right: 10px;
            top: 60%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
          
            .icon {
              font-size: 14px;
            }
          }
        }
      }
  
      .register-button {
        margin-top: 30px;
        width: 100%;
        padding: 12px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
  
        &:hover {
          background-color: #333;
        }
  
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
  
      .login-link {
        text-align: center;
        font-size: 14px;
        margin-bottom: 0px;
  
        a {
          color: #000;
          text-decoration: none;
          font-weight: bold;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  

.error-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    
    .icon {
        font-size: 16px;
        margin-right: 5px;
    }
}
}

@keyframes arrowPulse {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}