.about-us {
    padding: 2rem;
    width: 100%;
    // background-color: #ffffff;
  
    &__content {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
  
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
    }
  
    &__image-container {
      margin-bottom: 1.5rem;
  
      @media (min-width: 768px) {
        width: 50%;
        margin-bottom: 0;
      }
    }
  
    &__image {
      width: 100%;
      height: auto;
      border-radius: 1.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    &__text {
      @media (min-width: 768px) {
        width: 50%;
        padding-left: 2rem;
      }
    }
  
    &__title {
      font-size: 2rem;
      font-weight: bold;
      color: #000000;
      margin-bottom: 1rem;
    }
  
    &__description {
      color: #4b5563;
      margin-bottom: 1rem;
      line-height: 1.6;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }