.content {
  width: 100%;
  padding: 2rem;
  // background-color: #f8f9fa;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #333;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.card-wrapper {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ecebeb;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &__icon {
    margin-bottom: 1rem;
    color: #69dd09;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  &__description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 3rem 1rem;

    &__title {
      font-size: 2rem;
    }
  }
}